@import "tailwindcss";
@plugin "@tailwindcss/typography";


@source not "./tailwindcss";
@source not "./daisyui{,*}.mjs";

@plugin "./daisyui.mjs";
@plugin "./daisyui-theme.mjs" {
  name: "space";
  default: true;
  prefersdark: true;
  color-scheme: "dark";
  --color-base-100: oklch(12% 0.042 264.695);
  --color-base-200: oklch(21% 0.034 264.665);
  --color-base-300: oklch(37% 0.034 259.733);
  --color-base-content: #60a5fa;
  --color-primary: oklch(75.351% 0.138 232.661);
  --color-primary-content: oklch(12% 0.042 264.695);
  --color-secondary: oklch(42% 0.199 265.638);
  --color-secondary-content: oklch(98% 0.003 247.858);
  --color-accent: oklch(62% 0.194 149.214);
  --color-accent-content: oklch(12% 0.042 264.695);
  --color-neutral: oklch(27.949% 0.036 260.03);
  --color-neutral-content: oklch(85.589% 0.007 260.03);
  --color-info: oklch(68.455% 0.148 237.251);
  --color-info-content: oklch(0% 0 0);
  --color-success: oklch(78.452% 0.132 181.911);
  --color-success-content: oklch(15.69% 0.026 181.911);
  --color-warning: oklch(87% 0.169 91.605);
  --color-warning-content: oklch(16.648% 0.027 82.95);
  --color-error: oklch(50% 0.213 27.518);
  --color-error-content: oklch(100% 0 0);
  --radius-selector: 1rem;
  --radius-field: 1rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}